In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('layoffs.csv')
print(data.head())
print(data.info())

           company     location        industry  total_laid_off  \
0      CoverMyMeds     Columbus      Healthcare           800.0
1  Electronic Arts  SF Bay Area        Consumer           780.0
2            Shift  SF Bay Area  Transportation             NaN
3     Lucid Motors  SF Bay Area  Transportation          1300.0
4        Blue Nile      Seattle          Retail           119.0

   percentage_laid_off        date     stage        country  funds_raised
0                  NaN  2023-03-29  Acquired  United States           5.0
1                 0.06  2023-03-29  Post-IPO  United States           2.0
2                 0.30  2023-03-29  Post-IPO  United States         504.0
3                 0.18  2023-03-28  Post-IPO  United States        8300.0
4                  NaN  2023-03-28  Acquired  United States          62.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2438 entries, 0 to 2437
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              2438 non-null   object
 1   location             2438 non-null   object
 2   industry             2436 non-null   object
 3   total_laid_off       1669 non-null   float64
 4   percentage_laid_off  1617 non-null   float64
 5   date                 2437 non-null   object
 6   stage                2432 non-null   object
 7   country              2438 non-null   object
 8   funds_raised         2215 non-null   float64
dtypes: float64(3), object(6)
memory usage: 171.5+ KB
None

In [3]:
# Check the percentage of missing values in each column
print(data.isnull().sum() / len(data) * 100)

data['date'] = pd.to_datetime(data['date'])
data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month
data['recent_acquisition'] = (data['stage'] == 'Acquired') & (data['date'] >= '2023-01-01')
industry_layoffs = data.groupby('industry')['total_laid_off'].sum().reset_index()
location_layoffs = data.groupby('location')['total_laid_off'].sum().reset_index()

# For the 'percentage_laid_off' column, you may decide to fill missing values with the median
data_fill_median = data.copy()
data_fill_median['percentage_laid_off'] = data_fill_median['percentage_laid_off'].fillna(data_fill_median['percentage_laid_off'].median())
industry_layoffs_data_fill_median = data_fill_median.groupby('industry')['total_laid_off'].sum().reset_index()
location_layoffs_data_fill_median = data_fill_median.groupby('location')['total_laid_off'].sum().reset_index()

company                 0.000000
location                0.000000
industry                0.082034
total_laid_off         31.542248
percentage_laid_off    33.675144
date                    0.041017
stage                   0.246103
country                 0.000000
funds_raised            9.146842
dtype: float64

In [5]:
print(industry_layoffs)
print(location_layoffs)

          industry  total_laid_off
0        Aerospace           661.0
1     Construction          3863.0
2         Consumer         56042.0
3           Crypto         10768.0
4             Data          5610.0
5        Education         13380.0
6           Energy           802.0
7          Finance         29714.0
8          Fitness          8898.0
9             Food         24895.0
10              HR          5676.0
11        Hardware         14528.0
12      Healthcare         27101.0
13  Infrastructure          5785.0
14           Legal           836.0
15       Logistics          4026.0
16   Manufacturing           128.0
17       Marketing         10398.0
18           Media          5274.0
19           Other         36349.0
20         Product          1233.0
21     Real Estate         17565.0
22      Recruiting          2775.0
23          Retail         53110.0
24           Sales         13216.0
25        Security          5979.0
26         Support          3523.0
27  Transportation         36484.0
28          Travel         17159.0
       location  total_laid_off
0         Accra             0.0
1     Ahmedabad           500.0
2        Albany           371.0
3     Amsterdam         17140.0
4     Ann Arbor           240.0
..          ...             ...
194  Wilmington           100.0
195    Winnipeg           350.0
196      Yangon           200.0
197         Zug             0.0
198      Zurich            62.0

[199 rows x 2 columns]